@use './assets/scss/partial/header';
@use './assets/scss/partial/main';
@use './assets/scss/partial/variables';
@use '../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}