@use 'variables' as *;

#site_header {

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;

        .logo {
            width: 90px;
        }

        .links {

            a {
                margin: 1rem;
                text-transform: uppercase;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: small;

                &:hover {
                    color: $primary;
                    border-bottom: 6px solid $primary;
                    padding-bottom: 3rem;
                }
            }
        }
    }

    .jumbotron {
        background-image: url('/img/jumbotron.jpg');
        background-size: cover;
        height: 40vh;
    }

}